[alias]
	graph = log --decorate --oneline --graph
	fullgraph = log --decorate --oneline --graph --all
	blog = log --decorate --oneline
	miniblog = log --decorate --oneline -n 20
	ss = status --short
	ch = checkout
	showstat = show --stat
	showdiff = show
